# Don’t commit the following directories created by pub.
.dart_tool/
.buildlog
.pub/
build/
packages
.packages
/android
/ios

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.DS_Store